/*
Display::->
  Inline
  Inline-block
  block
  None

  -->for inline element width can't be changed

  visibility:hidden--->hide the element

  Position::->
    Static-->All HTML element are static by default.
    Relative-->Relative to what should be the position in static.
    Absolute-->Adding margin to it's parents element.
    Fixed


  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sacramento', cursive;
  https://web.archive.org/web/20180819202235js_/http://seanhalpin.io/assets/img/content/home/hello/me.svg
*/
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
}

h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;/*100%=16px=1em-->for 90 px-562.5%*/
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom:20px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
hr{
  margin: 100px auto;
  border-style:dotted none none;
  width:5%;
  border-width: 8px;
  border-color: #ABD9FF;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.skills{
  margin-top: 100px;
}
.middle-container{
  margin: 100px 0 ;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.intro{
  width: 30%;
  margin:0 auto;
}
.contact-me{
  margin-top: 100px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.skill-row{
  width: 50%;
  margin:100px auto;
  text-align:left;
}
.hello-img{
  width: 15%;
  border-radius: 100%;
  padding-top: 100px;
}
.skill-image-computer{
  width:25%;
  float:left;
  margin-right: 30px;
  border-radius: 100%;
}
.skill-image-programming{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom:300px;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2cb4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2cb4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2cb4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2cb4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2cb4ad);
  text-decoration: none;
}
